@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background: white;//#9bacff;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.nav{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.prev{
    left: 0px;
}

.next{
    right: 0px;
}

.playlist{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;

    li{
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        padding: 5px;
        width: 25%;
        
        img{
            width: 100%;
            display: block;
        }

        &.selected{
            background: #7673ff;
        }
    }

    ul{
        padding: 0px;
        white-space: nowrap;
        
        transition: transform .2s ease;
    }
}

.video{
    background: black;
    padding: 15px;

    iframe{
         display: block;
         margin: 0 auto;
     
         max-width: 100%;
    }
}

#video {

}

a{
    text-decoration: none;
}

.header{
    background: #3F51B5;


    .display{
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }

    span{
        padding: 15px 0px;
        margin: 0;
        color: white;
        text-rendering: optimizeLegibility;
        font-size: 24px;
        display: inline-block;
        //text-shadow: 2px 3px 6px #00000047;
    }
}
